{{template "header.html" .S}}

<p>The <strong>Imperial Library of Trantor</strong> (also known as <em>Galactic Library</em>) is a repository of DRM-free ebooks on ePub format.</p>

<p>You can <a href="/upload/">upload</a> your books. And one of our librarians will take care to store them on our vast bookshelfs and make it available for the rest of the galaxy.</p>

<p><b>Any help is welcome</b>. You can write us comments to our email address (zenow@riseup.net), upload your epubs, download our <a href="https://gitlab.com/trantor">source code</a> hack it and send us patches, ...</p>

<h4>Copyright</h4>

<p>Copyright laws are obsolete. With the technology to copy books without cost we can finally have universal access to the culture. We can provide the tools to allow everybody read any book without dependence on their monetary resources.</p>

<p>Of course we have to feed the authors, but with the capitalist way of commercialize culture now we are doing a really bad job at that. We are feeding big corporations, not the authors.</p>

<p>The Imperial Library of Trantor won't listen to any content remove request from corporations, editorials, right management organizations or any other blood-suckers.<p>

<h4>Donations</h4>

<p>If you feel like donate some bitcoins (BTC) we'll gladly accept them. You can request one bitcoin key for you or use our public bitcoin key:</p>
<p class="text-center text-success">1JioYbSYDH4JQYbhF7tX2kGUVZc2vzvugx <br />
<img src="/img/bitcoin.png" alt="1JioYbSYDH4JQYbhF7tX2kGUVZc2vzvugx" />
</p>

<p>Or if you prefer sending us monero (XMR) you can do it to the following address:</p>
<p class="text-center text-success">monero:48qncNb1qtD55ZG7SawTixCLd8SZ6c84hUY7gjcbFi54JV7o8u6ABDxF4PA34MLUPLck7jT93bLf8N4C6TwpsY8GHhzCExL<br />
<img src="/img/monero.png" alt="monero:48qncNb1qtD55ZG7SawTixCLd8SZ6c84hUY7gjcbFi54JV7o8u6ABDxF4PA34MLUPLck7jT93bLf8N4C6TwpsY8GHhzCExL" />
</p>

<h4>OpenPGP</h4>

<p>You can use OpenPGP to write me emails, use my <a href="/key.asc">key</a>:</p>
<pre class="span10">
pub   rsa4096/0xE9971784146CCD94 2013-08-16 [SC] [expires: 2023-09-30]
      C3BE4EB1BF13A8D999D01E46E9971784146CCD94
uid                            Las Zenow (Imperial Library of Trantor) &lt;zenow@riseup.net&gt;
sub   rsa4096/0x2CCC1C70C3E0C73E 2013-08-16 [E]
</pre>

{{template "footer.html" .S}}
