{{template "header.html" .S}}

<div class="row">
	<h4 class="col-sm-10">{{.List.Title}} <a href="/list/{{.List.ListID}}?fmt=rss"><img src="/img/feed.png"/></a></h4>

	<p class="col-sm-2 text-end">
	{{if eq .S.User .List.User.Username}}
	<a href="/list/{{.List.ListID}}/edit" class="btn btn-primary">
	  <svg class="bi" width="1em" height="1em" fill="currentColor">
	    <use xlink:href="/img/bootstrap-icons.svg#pencil"/>
	  </svg>
	  Edit
	</a>
	{{else}}
	By {{.List.User.Username}}
	{{end}}
	</p>
</div>

{{range .List.Description}}
<p>{{.}}</p>
{{end}}
<br />

{{template "book_list.html" .List.Books}}

{{template "footer.html" .S}}
