{{template "header.html" .S}}

<div class="row">
  <h4 class="col">News:</h4>
  <a href="/news/?fmt=rss" class="col text-end"><img src="/img/feed.png"/></a>
</div>

<dl>
{{range .News}}
  <div class="row">
    <dt class="col-sm-2 text-sm-end">{{.Date}}</dt>
    <dd class="col-sm-10">{{.Text}}</dd>
  </div>
{{end}}
</dl>

{{template "footer.html" .S}}
