{{template "header.html" .S}}


<p class="text-center">Found {{.Found}} books <a href="{{.S.FullURL}}&fmt=rss"><img src="/img/feed.png"/></a> <br />
<nav class="d-flex justify-content-center" arial-label="Book search page navigation">
  <ul class="pagination">
    <li class="page-item {{if not .Prev}}disabled{{end}}">
  	  <a class="page-link" href="{{.Prev}}">&larr; Prev</a>
    </li>
    <li class="page-item disabled">
  	  <a class="page-link" href="#">Page {{.Page}}</a>
    </li>
    <li class="page-item {{if not .Next}}disabled{{end}}">
  	  <a class="page-link" href="{{.Next}}">Next &rarr;</a>
    </li>
  </ul>
</nav>

{{template "book_list.html" .Books}}

<nav class="d-flex justify-content-center" arial-label="Book search page navigation">
  <ul class="pagination">
    <li class="page-item {{if not .Prev}}disabled{{end}}">
  	  <a class="page-link" href="{{.Prev}}">&larr; Prev</a>
    </li>
    <li class="page-item disabled">
  	  <a class="page-link" href="#">Page {{.Page}}</a>
    </li>
    <li class="page-item {{if not .Next}}disabled{{end}}">
  	  <a class="page-link" href="{{.Next}}">Next &rarr;</a>
    </li>
  </ul>
</nav>

<form class="d-flex justify-content-center" action="/search/">
  <div class="row g-3 align-items-center">
	<div class="col-auto">
	  <label for="inputNum" class="col-form-label">Books per page: </label>
	</div>
	<div class="col-auto">
      <input name="num" size="3" type="text" value="{{.ItemsPage}}" id="inputNum" class="form-control" />
	</div>
	<div class="col-auto">
      <button type="submit" class="btn btn-primary">Ok</button>
	</div>
  </div>
  <input name="q" type="hidden" value="{{.S.Search}}" />
</form>

{{template "footer.html" .S}}
