{{template "header.html" .S}}

<p>Upload your epubs to help the library.</p>

<div class="row justify-content-center">
  <form class="col-sm-11" method="POST" enctype="multipart/form-data">
	<div class="input-group mb-3">
	  <input accept="application/epub+zip" type="file" name="epub" multiple="multiple" />
	  <button type="submit" class="btn btn-outline-secondary">Upload</button>
	</div>
  </form>
</div>

<p>The uploaded books will be reviewed by the librarians and included if they comply our quality standards. Do not upload epubs converted from PDFs or any book that is not pleasant to read.</p>

<p>This library is an Antifascist space, alt-right propaganda or other fascist or racist content is not welcome here.</p>

{{template "footer.html" .S}}
